**/__pycache__
src/plotting/*svg
src/plotting/*pdf
src/plotting/*png
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
lectures/Notes.pdf
*.snm
*.synctex.gz
*.toc
*.vrb
lectures/figures/bits_double_precision.pdf
lectures/figures/bits_single_precision.pdf
lectures/figures/communication.pdf
lectures/figures/floating_point_spacing.pdf
lectures/figures/global_assembly_rhs.pdf
lectures/figures/global_assembly_stiffness_matrix.pdf
lectures/figures/lagrange_nodes_cubic.pdf
lectures/figures/lagrange_nodes.pdf
lectures/figures/parallel_matmat.pdf
lectures/figures/parallel_scaling_measured.pdf
lectures/figures/parallel_scaling_theory.pdf
lectures/figures/parallel_scaling.pdf
lectures/figures/partitioned_mesh.pdf
lectures/figures/quadrature.pdf
lectures/figures/rectangle_mesh.pdf
lectures/figures/reference_mapping.pdf
lectures/figures/reference_triangle_small.pdf
lectures/figures/reference_triangle.pdf
lectures/figures/roofline.pdf
lectures/figures/runtime_dense.pdf
lectures/figures/runtime_sparse.pdf
lectures/figures/scientific_computing.pdf
lectures/figures/simple_mesh_with_dof_numbers.pdf
lectures/figures/simple_mesh.pdf
lectures/figures/time_per_iteration_sparse.pdf
lectures/figures/lagrange_nodes_quintic.pdf
lectures/figures/straight_line.pdf