name: Convert markdown to html
on: [push]
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
    convert_via_pandoc:
        name: Convert markdown to html
        permissions:
          pages: write  
          id-token: write
          actions: read
          contents: read
        environment:
          name: github-pages
          url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Install latex, imagemagick and inkscape
              run: |
                sudo apt-get update
                sudo apt install texlive-latex-base
                sudo apt install texlive-latex-extra
                sudo apt install texlive-latex-recommended
                sudo apt install texlive-science
                sudo apt install inkscape
                sudo apt install imagemagick 
            - name: Check out pandoc templates
              uses: actions/checkout@v4
              with:
                repository: ryangrose/easy-pandoc-templates
                ref: '80d5aa611ceaee12cd55ac344a1e19cfb7781d14'
                path: easy-pandoc-templates
            - run: |                
                cp easy-pandoc-templates/html/uikit.html ~/uikit.html
            - name: Check out repository
              uses: actions/checkout@v4
            - run: |
                cp ~/uikit.html .
            - name: Convert index markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2
              with:
                args: >- 
                    --standalone
                    --mathjax
                    --to html
                    --output index.html
                    --metadata title="MA32070"
                    --metadata-file metadata.yml
                    index.md
            - name: Convert solutions markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2
              with:
                args: >- 
                    --standalone
                    --mathjax
                    --to html
                    --output solutions.html
                    --metadata title="MA32070 model solutions"
                    --metadata-file metadata.yml
                    solutions.md            
            - run: |
                python3 lectures/parse_crossreferences.py lectures/Notes.md > lectures/_Notes.md
            - name: Convert lecture markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2
              with:
                args: >- 
                    --standalone
                    --toc
                    --mathjax
                    --to html
                    --output notes.html
                    --metadata title="MA32070 Lecture Notes"
                    --resource-path lectures
                    --metadata-file metadata.yml
                    --template uikit.html
                    lectures/_Notes.md
            - name: Convert Exercises markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2               
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output exercises.html
                  --metadata title="MA32070 Exercises"
                  --template uikit.html
                  --resource-path exercises
                  --metadata-file metadata.yml
                  lectures/Exercises.md
            - name: Convert course information markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2              
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output information.html
                  --metadata title="MA32070 Course information"
                  --template uikit.html
                  --resource-path generalinformation
                  --metadata-file metadata.yml
                  generalinformation/CourseInformation.md
            - name: Convert prerequisites markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2              
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output prerequisites.html
                  --metadata title="MA32070 Prerequisites"
                  --template uikit.html
                  --resource-path generalinformation
                  --metadata-file metadata.yml
                  generalinformation/Prerequisites.md
            - name: Convert setup instructions markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output setup.html
                  --metadata title="MA32070 Setup Instructions"
                  --template uikit.html
                  --resource-path generalinformation
                  --metadata-file metadata.yml
                  generalinformation/Setup.md
            - name: Convert model solution exercise 1 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_python.html
                  --metadata title="MA32070 Exercise 1: Model solution"
                  --template uikit.html
                  --resource-path solutions/exercise_python
                  --metadata-file metadata.yml
                  solutions/exercise_python/Solution.md
            - name: Convert model solution exercise 2 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_finiteelement.html
                  --metadata title="MA32070 Exercise 2: Model solution"
                  --template uikit.html
                  --resource-path solutions/exercise_finiteelement
                  --metadata-file metadata.yml
                  solutions/exercise_finiteelement/Solution.md
            - name: Convert model solution exercise 3 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_localassembly.html
                  --metadata title="MA32070 Exercise 3: Model Solution"
                  --template uikit.html
                  --resource-path solutions/exercise_localassembly
                  --metadata-file metadata.yml
                  solutions/exercise_localassembly/Solution.md
            - name: Convert model solution exercise 4 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_quadrature.html
                  --metadata title="MA32070 Exercise 4: Model Solution"
                  --template uikit.html
                  --resource-path solutions/exercise_quadrature
                  --metadata-file metadata.yml
                  solutions/exercise_quadrature/Solution.md
            - name: Convert model solution exercise 5 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_global_error.html
                  --metadata title="MA32070 Exercise 5: Model Solution"
                  --template uikit.html
                  --resource-path solutions/exercise_global_error
                  --metadata-file metadata.yml
                  solutions/exercise_global_error/Solution.md
            - name: Convert model solution exercise 6 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_complexity.html
                  --metadata title="MA32070 Exercise 6: Model Solution"
                  --template uikit.html
                  --resource-path solutions/exercise_complexity
                  --metadata-file metadata.yml
                  solutions/exercise_complexity/Solution.md
            - name: Convert model solution exercise 7 markdown to html with pandoc
              uses: docker://pandoc/latex:3.7.0.2                
              with:
                args: >- 
                  --standalone
                  --mathjax
                  --toc
                  --to html
                  --output model_solution_exercise_petsc.html
                  --metadata title="MA32070 Exercise 7: Model Solution"
                  --template uikit.html
                  --resource-path solutions/exercise_petsc
                  --metadata-file metadata.yml
                  solutions/exercise_petsc/Solution.md
            - name: Build slides
              run: |
                   cd lectures
                   make
            - name: Copy to deployment folder
              run: |
                    mkdir docs
                    mv index.html docs
                    mv setup.html docs
                    mv prerequisites.html docs
                    mv information.html docs
                    mv notes.html docs
                    mv exercises.html docs
                    cp lectures/Slides.pdf docs/slides.pdf
                    cp -r lectures/figures docs
                    # Model solutions
                    SOLUTIONS=3a9b494912454b587ec60310b8ebca9ac063cacb608e9a49e9e2f73cc6178f6a                    
                    mv solutions.html docs/${SOLUTIONS}.html
                    # EXERCISE 1
                    DIR=c63145580f9a1fa29527fb5ba08e6d39d8e289d54655f7290bccceda955202b5
                    mkdir -p docs/${DIR}
                    mv model_solution_exercise_python.html docs/${DIR}/solution.html
                    cp solutions/exercise_python/numerical_integration.py docs/${DIR}
                    cp solutions/exercise_python/driver.py docs/${DIR}
                    cp solutions/exercise_python/linear_algebra_numpy.py docs/${DIR}                    
                    cp solutions/exercise_python/linear_algebra_petsc.py docs/${DIR}
                    # EXERCISE 2
                    DIR=01ff9d7fe29d9a47f6e5ca2d8c0c1bafc1e49f6ee4971ec1b020bba2247a74c6
                    mkdir docs/${DIR}
                    mv model_solution_exercise_finiteelement.html docs/${DIR}/solution.html
                    cp solutions/exercise_finiteelement/cubicelement.py docs/${DIR}
                    cp solutions/exercise_finiteelement/test_cubicelement.py docs/${DIR}
                    cp solutions/exercise_finiteelement/lagrange_nodes_cubic.svg docs/${DIR}
                    # EXERCISE 3
                    DIR=e8d99061c309dfbbca4e96096132a4bbabae59e317ead1af03adff98793c3965
                    mkdir docs/${DIR}
                    mv model_solution_exercise_localassembly.html docs/${DIR}/solution.html
                    cp solutions/exercise_localassembly/assembly.py docs/${DIR}
                    cp solutions/exercise_localassembly/error.py docs/${DIR}
                    cp solutions/exercise_localassembly/driver.py docs/${DIR}
                    cp solutions/exercise_localassembly/triangle_solution_??.png docs/${DIR}
                    # EXERCISE 4
                    DIR=b61c4a5963c9d38f3867930588af05bd7b7505e0eeacacf6d43a354685ad2b49
                    mkdir docs/${DIR}
                    mv model_solution_exercise_quadrature.html docs/${DIR}/solution.html
                    cp solutions/exercise_quadrature/threepointquadrature.py docs/${DIR}
                    cp solutions/exercise_quadrature/test_threepointquadrature.py docs/${DIR}
                    # EXERCISE 5
                    DIR=77aadb1bf47e22ec62874af7733b89bd1e7466876b216f07d6e06746fc95512e
                    mkdir docs/${DIR}
                    mv model_solution_exercise_global_error.html docs/${DIR}/solution.html
                    cp solutions/exercise_global_error/error.py docs/${DIR}
                    cp solutions/exercise_global_error/driver.py docs/${DIR}
                    cp solutions/exercise_global_error/convergence.png docs/${DIR}
                    # EXERCISE 6
                    DIR=8a0333f2b7b1701c26b667b5d55a4e463a158656173713f3b83db5b9699a6116
                    mkdir docs/${DIR}
                    mv model_solution_exercise_complexity.html docs/${DIR}/solution.html
                    # EXERCISE 7
                    DIR=1a56cf5ae3b9d7178988e16dcb04edfed59dc06857af0b0d5db4ea8c4f31c4ac
                    mkdir docs/${DIR}
                    mv model_solution_exercise_petsc.html docs/${DIR}/solution.html
                    cp solutions/exercise_petsc/*.svg docs/${DIR}                    
                    cp solutions/exercise_petsc/linear_solve.py docs//${DIR}
            - name: Upload artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                path: './docs/'
                name: github-pages
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
